* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "IBM Plex Sans Arabic", serif;
  font-weight: 400;
  font-style: normal;
}

body {
  overflow-x: hidden !important;
}

.navbar-toggler-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

.section {
  min-height: 100vh !important;
  background-repeat: no-repeat;
  width: 100% !important;
  background-size: cover;
}

.header {
  background-image: url("../images/section/1.jpg");
  background-repeat: no-repeat;
  width: 100% !important;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.nav-item .nav-link {
  font-size: 16px !important;
}
.section2 {
  background-image: url("../images/section/2.jpg");
}
.section3 {
  background-image: url("../images/section/3.jpg");
}
.section4 {
  background-image: url("../images/section/4.jpg");
}
.section5 {
  background-image: url("../images/section/5.jpg");
  min-height: 40vh !important;
}
.section6 {
  background-image: url("../images/section/6.jpg");
  min-height: auto !important;
}
.card-1 {
  width: 100%;
  background-color: #235146;
  padding: 1.5rem;
  border-top-right-radius: 1.5rem;
  border-bottom-left-radius: 1.5rem;
}
.card-1-icon {
  height: 24px;
  width: 24px;
}
.card-2 {
  width: 100%;
  background-color: #ffffff !important;
  color: #ac9f61 !important;
  padding: 0.5rem 0.8rem;
  border-radius: 15px;
}
.card-2-icon {
  height: 32px;
  width: 32px;
}
.border-bottom-right {
  border-right: 1px solid #000 !important;
}
.card-3 {
  padding: 2rem;
  width: 100% !important;
  background: linear-gradient(
    to bottom,
    rgb(255, 255, 255) 0%,
    rgba(255, 255, 255, 0.356) 100%
  );
  border-radius: 25px;
}
@media (max-width: 1190px) {
  .border-bottom-right {
    border-right: 0px solid #000 !important;
    /* border-bottom: 1px solid #000 !important; */
  }
}
@media (max-width: 1024px) {
  .header {
    background-size: cover;
    padding: 30px;
    min-height: 60vh !important;
  }
  .nav-item .nav-link {
    font-size: 15px !important;
  }
  .card-1,
  .card-2,
  .card-3 {
    padding: 1.5rem;
  }
}
@media (max-width: 912px) {
  .header {
    background-size: cover;
    padding: 0px;
    min-height: 30vh !important;
  }
  .nav-item .nav-link {
    font-size: 15px !important;
  }
  .card-1,
  .card-2,
  .card-3 {
    padding: 1.5rem;
  }
}
@media (max-width: 820px) {
  .header {
    background-size: cover;
    padding: 20px;
    min-height: 10vh !important;
  }
  .section {
    min-height: 80vh !important;
  }
  .card-1,
  .card-2,
  .card-3 {
    padding: 1rem;
  }
  .nav-item .nav-link {
    font-size: 14px !important;
  }
  .navbar-toggler-icon {
    width: 2em;
    height: 2em;
  }
}
@media (max-width: 768px) {
  .header {
    background-size: cover;
    padding: 30px;
    min-height: 50vh !important;
  }

  .section {
    min-height: 80vh !important;
  }

  .card-1,
  .card-2,
  .card-3 {
    padding: 1rem;
  }

  .nav-item .nav-link {
    font-size: 14px !important;
  }

  .navbar-toggler-icon {
    width: 2em;
    height: 2em;
  }
}

@media (max-width: 480px) {
  .header {
    background-size: contain;
    padding: 30px;
  }

  .section {
    min-height: 60vh !important;
  }

  .header {
    background-size: cover;
    padding: 10px;
  }

  .nav-item .nav-link {
    font-size: 12px !important;
  }
  .hide-on-sm {
    display: none !important;
  }
  .show-on-sm {
    display: block !important;
  }
}
